body{
    background-color:rgb(139, 139, 139);
}
.carousel{
    border:1px solid black
}

#textos{
    display: none;
    width: 100%;
}

@media (max-width:767px){
    #textos{
        display: block;
    }
}

