<div class="container">
    <div class="card m-3 p-3">
    <h1 class="mt-2 mb-3 text-center">Exibir Usuário</h1>
    <table class="table table-striped mt-3" style="">
        <thead>
            <tr>
                <th class="text-center">#ID</th>
                <th class="text-center">Nome</th>
                <th class="text-center">E-mail</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-center">
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-success m-1">Enviar</button>
                    <button type="button" class="btn btn-danger m-1">Limpar</button>
                </td>
            </tr>
             <tr class="text-center">
               <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-success m-1">Enviar</button>
                    <button type="button" class="btn btn-danger m-1">Limpar</button>
                </td>
            </tr>
            <tr class="text-center">
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-success m-1">Enviar</button>
                    <button type="button" class="btn btn-danger m-1">Limpar</button>
                </td>
            </tr>
            <tr class="text-center">
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-success m-1">Enviar</button>
                    <button type="button" class="btn btn-danger m-1">Limpar</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
