<div class="container p-3">
<div class="card p-3">
    <h3 class="text-center">Objetivo do Site</h3>
    <p class="text-center">Esse site tem como objetivo de melhorar o acesso e comprar dos componentes de computador</p>
</div>

</div>